---

---

<div class=" flex items-center justify-center text-black h-20 dark:bg-violet-200 dark:text-white">
    <div class=" w-52 flex justify-around">
        <a href="https://www.linkedin.com/in/francisco-javier-aguilar-p%C3%A9rez-243201291/" target="_blank">
            <img src="/link.jpg" alt="" class=" rounded-lg h-8 hover:scale-125">
        </a>
        <a href="https://github.com/FrankiAguilar/ProgramacionWeb"  target="_blank">
            <img src="/git.jpg" alt="" class=" h-8 hover:scale-125">
        </a>
    </div>
<div class=" text-center">
    <h1>Esto es el Footer</h1>
</div>
</div>